@using ViaYou.Web.Resources

<header>
    <div id="top-header">
        <div class="container">
            <div class="row">
                <div class="home-account pull-right">
                    <a href="#"><i class="fa fa-envelope"></i> feedback@viayou.com</a>
                    <a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a>
                </div>
            </div>
        </div>
    </div>
    <div id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="#"><img src="~/Content/BasicTemplate/Images/logo.png" title="Grill Template" alt="Grill Website Template"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="main-menu">
                        <li>
                            <a class="page-scroll" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#">Contacts</a>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="search-box">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                @ResourceLanguage.LanguageSelector
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ChangeLanguage", "Home", new { backUrl = Request.Url.AbsoluteUri, culture = "EN" })">English</a></li>
                                <li><a href="@Url.Action("ChangeLanguage", "Home", new { backUrl = Request.Url.AbsoluteUri, culture = "ES" })">Español</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>