@using ViaYou.Web.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViaYou</title>

    @Styles.Render("~/Content/Shared/css")
    @Styles.Render("~/Content/BasicTemplate/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("specific_styles", required: false)

</head>
<body class="body-background">
    <div class="container-update">

        @*@Html.Partial("_HeaderAndMenu")*@
        <div class="col-md-2"><h1>Left</h1></div>

        <div class="col-md-8">
            @Html.Partial("_HeaderAndMenu")
            @RenderBody()
        </div>
        <div class="col-md-2"><div class="btn-group pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
            @ResourceLanguage.LanguageSelector
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("ChangeLanguage", "Home", new { backUrl = Request.Url.AbsoluteUri, culture = "EN" })">English</a></li>
            <li><a href="@Url.Action("ChangeLanguage", "Home", new { backUrl = Request.Url.AbsoluteUri, culture = "ES" })">Español</a></li>
        </ul>
    </div>
</div></div>

    </div>
    @*@Html.Partial("_Footer")*@

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/BasicTemplate/js")

    @RenderSection("scripts", required: false)
</body>
</html>
